<!DOCTYPE html>
<html class="antialiased" lang="cs">

<head>
    {% include "partials/site-head.html" %}
</head>

<body class="min-h-screen bg-black text-yellow-100">
    <main class="flex items-center justify-center min-h-screen">
        <div class="max-w-2xl mx-auto text-center py-16 px-4 sm:py-20 sm:px-6 lg:px-8">
            <h1 class="text-5xl leading-1 font-extrabold">
                404 - stránka nebyla nalezena
            </h1>
            <p class="my-6 text-base">
                Zkuste se vrátit na <a href="{{ '/' | url }}" class="font-bold underline"> úvodní stránku</a>.
            </p>
            <div class="w-24 mx-auto">
                {{ '/src/images/vectors/compass.svg' | svgContents }}
            </div>
        </div>
    </main>
</body>

</html>
